/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snack-error {
	color: #ff0000 !important;
}

.snack-success {
	color: #009933 !important;
}

.snack-warn,
.snack-warn * {
	color: #ffff00 !important;
}
